<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>New Season</title>
	</head>
	<body>
		<h1>New Season from
			{{ program.title }}
			created</h1>
		<p>Hello, the new Season
			{{ season.number }}
			has been created on Wild Series</p>
		<p>Synopsis :
			{{ season.description }}</p>
	</body>
</html>
